<ion-header [translucent]="true">
  <ion-toolbar color="primary" >
    <ion-title>
      Conheça Aracaju
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Aracaju-SE" src="../../assets/imgs/aracaju.png" />
    <ion-card-header>
      <ion-card-title>Aracaju-SE</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-justify">
      Capital do menor estado brasileiro, Sergipe, Aracaju reúne atrativos para todos os gostos. Afinal, ali dá para se esbanjar na deliciosa gastronomia, curtir belas praias e conhecer de pertinho seu artesanato, bastante tradicional. Se você ainda não teve a chance de visitar o destino, não faz ideia do que está perdendo.
    </ion-card-content>
  </ion-card>

    <ion-list>
      <ion-item href="https://www.se.gov.br/" class="ion-activated" target="_blank">
        <ion-icon aria-hidden="true" name="leaf" slot="start"></ion-icon>
        <ion-label>Agroturismo</ion-label>
      </ion-item>
      <ion-item href="https://www.se.gov.br/" >
        <ion-icon aria-hidden="true" name="bicycle" slot="start"></ion-icon>
        <ion-label>Aventura</ion-label>
      </ion-item>
      <ion-item href="https://www.se.gov.br/" >
        <ion-icon aria-hidden="true" name="walk" slot="start"></ion-icon>
        <ion-label>Parques</ion-label>
      </ion-item>
      <ion-item href="https://www.se.gov.br/" >
        <ion-icon aria-hidden="true" name="sunny" slot="start"></ion-icon>
        <ion-label>Praias</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
